// 页面边界 padding
$page-edge-padding: 24px;

// aside 撑开宽度
$aside-expand-width: 256px;

// aside 收起宽度
$aside-collapse-width: 108px;

// header 高度
$header-height: 70px;
$common-transition: all 0.2s ease-out;
