.wtc_workSchdule-custom-table {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.wtc_workSchdule-custom-table .custom-header {
    background: #f4f4f4;
    font-size: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.wtc_workSchdule-custom-table .custom-body {
    font-size: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    align-items: center;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
}

.wtc_workSchdule-custom-table .custom-header-order {
    display: inline-block;
    width: 5.5%;
    height: 34px;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
}

.wtc_workSchdule-custom-table .custom-body-order {
    display: inline-block;
    width: 5.5%;
    height: 100%;
    line-height: 90px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: bottom;
}

.wtc_workSchdule-custom-table .custom-header .custom-header-border {
    position: relative;
    width: 4px;
    height: 20px;
    margin-top: 7px;
    border-right: 1px solid #c7cbd3;
    float: right;
    cursor: col-resize;
    z-index: 1;

}

.wtc_workSchdule-custom-table .custom-header-th {
    display: inline-block;
    width: 13.5%;
    height: 34px;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
}

.wtc_workSchdule-custom-table .custom-body-td {
    display: inline-block;
    width: 13.5%;
    height: 100%;
    border-right: 1px solid #ccc;
    color: #333;
    box-sizing: border-box;
    vertical-align: bottom;
}

.wtc_workSchdule-custom-table .custom-disable-div {
    width: 100%;
    background: #f3f8ff;
}

.wtc_workSchdule-custom-table .custom-disable-line {
    width: 50px;
    height: 1px;
    background-color: #ccc;
}

.wtc_workSchdule-custom-table .custom-able-div {
    font-size: 12px;
    position: relative;
    width: 100%;
    height: 100%;
}

.wtc_workSchdule-custom-table .custom-able-border {
    border: 1px solid var(--themeColor, #276FF5) !important;
}

.wtc_workSchdule-custom-table .custom-shift-time-overLap {
    /*border-left: 1px dashed #F32F2F;*/
    /*border-top: 1px dashed #F32F2F;*/
    /*border-bottom: 1px dashed #F32F2F;*/
    border: 1px dashed #F32F2F;
}

.wtc_workSchdule-custom-table .custom-shift-time-overLap-next {
    border-right: 1px dashed #F32F2F;
    border-top: 1px dashed #F32F2F;
    border-bottom: 1px dashed #F32F2F;
}

.wtc_workSchdule-custom-table .custom-shift-time-overLap-next.custom-shift-time-overLap {
    border-left: none;
    border-right: none;
}


.wtc_workSchdule-custom-table .custom-body-td .custom-rest-day-div {
    color: #F59A23;
}

.wtc_workSchdule-custom-table .custom-body-td .custom-holiday-day-div {
    color: rgba(2, 167, 240, 1);
}

.wtc_workSchdule-custom-table .custom-number {
    margin-left: 5px;
    margin-top: 11px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc((100% - 35px) / 2);
}

.wtc_workSchdule-custom-table .custom-time {
    margin-left: 5px;
    margin-top: 11px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc((100% - 35px) / 2);
}

.wtc_workSchdule-custom-table .pagebutton {
    cursor: default;
    text-align: center;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.wtc_workSchdule-custom-table .pagedetail {
    margin-left: 20px;
    margin-right: 20px;
    color: #191919;
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

.wtc_workSchdule-custom-table .pagedetail span {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    margin-right: 8px;
    float: left;
}

.wtc_workSchdule-custom-table .pagecount {
    margin-left: 8px;
    color: #191919;
    width: 60px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    font-weight: bold;
}

.wtc_workSchdule-custom-table .pageinput {
    width: 30px;
    height: 30px;
    background: #fff;
    box-sizing: border-box;
    margin: 0 18px;
    margin-top: 2px;
}

.wtc_workSchdule-custom-table .pageinput input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #d1d1d1;
    text-align: center;
    box-sizing: border-box;
}

.wtc_workSchdule-custom-table .pagebuttoncolor {
    background: #428bca;
    color: #fff;
}

.wtc_workSchdule-custom-table .test {
    text-align: center;
}

.wtc_workSchdule-custom-table .test div {
    float: left;
    cursor: pointer;
}

.wtc_workSchdule-custom-table .pagediv {
    float: left;
}

.wtc_workSchdule-custom-table .divin {
    margin-left: 10px;
}

.wtc_workSchdule-custom-table .custom-top-part {
    display: flex;
    position: relative;
    width: 100%;
    height: 34px;
    padding: 4px 6px;
    box-sizing: border-box;
    z-index: 2;
    justify-content: space-between;
}

.wtc_workSchdule-custom-table .custom-holidayTag {
    flex: 1;
    height: 22px;
    align-items: center;
    margin-right: 6px;
    width: 80%;
}

.wtc_workSchdule-custom-table .custom-workDateStr {
    flex: 0;
    height: 18px;
    text-align: left;
    line-height: 18px;
    /*margin-right: 6px;*/
}

.wtc_workSchdule-custom-table .wtc-workSchdule-more-btn {
    flex: 0 0 18px;
    height: 18px;
    text-align: right;
    line-height: 18px;
    cursor: pointer;
}

.wtc_workSchdule-custom-table .custom-center-part {
    display: flex;
    width: 100%;
    height: 26px;
    padding: 10px 6px 0 6px;
    justify-content: space-between;
    box-sizing: border-box;
}

.wtc_workSchdule-custom-table .custom-center-part .custom-shiftNumber {
    width: calc(100% - 65px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wtc_workSchdule-custom-table .custom-center-part .custom-startEndTime {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: flex-end;
    text-align: right;
}

.wtc_workSchdule-custom-table .custom-center-part-off .custom-shiftNumber {
    width: 100%;
}

.wtc_workSchdule-custom-table .custom-center-part-off .custom-startEndTime {
    display: none;
}

.wtc_workSchdule-custom-table .custom-editusername {
    display: flex;
    width: 100%;
    padding: 0 6px;
    justify-content: flex-end;
}

.wtc_workSchdule-custom-table .custom-editusername .custom-emodifierName {
    line-height: 30px;
    height: 30px;
    text-align: right;
    cursor: pointer;
}

.wtc_workSchdule-custom-table .custom-holiday-ellipsis {
    display: inline-block;
    margin-left: 4px;
    color: rgba(2, 167, 240, 1);
    font-size: 19px;
    /*cursor: pointer;*/
}

.wtc_workSchdule-custom-table .custom-holiday-style {
    display: inline-block;
    padding: 0 4px;
    margin-left: 2px;
    max-width: 44%;
    height: 17px;
    line-height: 17px;
    border: 1px solid rgba(2, 167, 240, 1);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(2, 167, 240, 1);
    box-sizing: border-box;
}


/*这下面是添加到body中的元素的样式，不能加控件的根标签*/
.custom-holiday-all {
    float: left;
    width: auto;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid rgba(2, 167, 240, 1);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(2, 167, 240, 1);
    padding: 2px 6px;
}

.custom-workschdule-tips {
    min-height: 70px;
    border-radius: 5px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 10000;
    padding: 5px 10px;
    position: absolute;
    white-space: nowrap;
}

.custom-workschdule-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 25px;
    /* box-shadow: -1 1px 6px 0 rgba(0,0,0,0.3); */
}

.custom-workschdule-tips-title,
.custom-workschdule-tips-edituser,
.custom-workschdule-tips-edittime {
    height: 20px;
    line-height: 20px;
}

.custom-holiday-tips {
    min-height: 70px;
    width: 170px;
    border-radius: 5px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 9999;
    padding: 5px 5px;
    position: absolute;
}

.custom-holiday-arrow {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    margin-top: -15px;
}