<div class="custom-table wtc_workSchdule-custom-table">
    <div class="custom-header">
       <div class="custom-header-order">序号
         <div class="custom-header-border"></div>
        </div>
        <% for(let n=0;n<6;n++){ %>
            <div class="custom-header-th"><%= items.heads[n] %>
                <div class="custom-header-border"></div>
              </div>
       <% } %>
       
        <div class="custom-header-th"><%= items.heads[6]%></div>
    </div>
    <div id="custom-body-click">
     <% for(let i=0;i<items.rows;i++){ %>
    <div class="custom-body" >
        <div class="custom-body-order"><%= i+1%></div>
        <% for(let j=0;j<7;j++){ %>
             <div class="custom-body-td custom-able-td" index="<%= 7*i+j %>"></div>
        <% }%>
    </div>
    <% }%>
</div>
</div>